Checks: >
  clang-analyzer-*,
  bugprone-*,
  cert-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  -abseil-*,
  -altera-*,
  -android-*,
  -cppcoreguidelines-*,
  -fuchsia-*,
  -google-*,
  -hicpp-*,
  -llvm-*,
  -modernize-*,
  -mpi-*,
  -objc-*,
  -openmp-*,
  -zircon-*,
  -readability-identifier-naming,
  -readability-magic-numbers,
  -bugprone-easily-swappable-parameters,
  -bugprone-assignment-in-if-condition,
  -bugprone-reserved-identifier,
  -bugprone-suspicious-include,
  -cert-*-cpp,
  -cert-dcl37-c,
  -cert-err33-c,
  -cert-err34-c,
  -clang-analyzer-cplusplus*,
  -clang-analyzer-security.insecureAPI.*,
  -misc-include-cleaner,
  -misc-non-private-member-variables-in-classes,
  -clang-diagnostic-empty-translation-unit,
  -readability-identifier-length,
  -readability-isolate-declaration,
  -readability-math-missing-parentheses,
  -readability-function-cognitive-complexity,
  -readability-use-concise-preprocessor-directives

WarningsAsErrors: ''

HeaderFilterRegex: '.*'
SystemHeaders: false

HeaderFileExtensions:
  - "h"

ImplementationFileExtensions:
  - "c"

FormatStyle: file
