Checks: >
  *,
  clang-diagnostic-*,
  llvm-*,
  misc-*,
  bugprone-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -google-runtime-int,
  -google-runtime-references,
  -misc-non-private-member-variables-in-classes,
  -readability-named-parameter,
  -readability-magic-numbers,
  -misc-no-recursion,
  -readability-identifier-naming,
  -misc-include-cleaner,
  -readability-isolate-declaration,
  -readability-identifier-length,
  -bugprone-reserved-identifier,
  -bugprone-assignment-in-if-condition,
  -bugprone-easily-swappable-parameters,
  -readability-function-cognitive-complexity,
  -modernize-macro-to-enum,
  -clang-diagnostic-empty-translation-unit,
  -llvm-header-guard,
  -bugprone-macro-parentheses,
  -cppcoreguidelines-init-variables,
  -cert-err33-c,
  -altera-unroll-loops,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  -altera-struct-pack-align,
  -cppcoreguidelines-avoid-magic-numbers,
  -hicpp-signed-bitwise,
  -llvmlibc-restrict-system-libc-headers,
  -altera-id-dependent-backward-branch,
  -concurrency-mt-unsafe,
  -cppcoreguidelines-macro-to-enum,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cert-err34-c,
  -bugprone-suspicious-include,
  -clang-analyzer-security.insecureAPI.*

# Turn all the warnings from the checks above into errors.
WarningsAsErrors: "*"

HeaderFileExtensions:
  - h
ImplementationFileExtensions:
  - c
FormatStyle:     file
