name: CI

on:
  push:
    branches: [master]
  workflow_dispatch:

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  create-release:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    outputs:
      release_version: ${{ steps.version.outputs.release_version }}
    steps:
      - uses: actions/checkout@main

      - id: version
        shell: bash
        run: |
          v=$(TZ=Asia/Shanghai git log -1 --format="%cd" --date=format-local:'%Y%m%d%H%M')
          echo "release_version=$v" >> $GITHUB_OUTPUT

      - uses: HiGarfield/action-gh-release@master
        with:
          tag_name: ${{ steps.version.outputs.release_version }}
          make_latest: true

  build-Linux-macOS:
    needs: [create-release]
    name: Build on ${{ matrix.os }}
    permissions:
      contents: write
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04, macos-14, macos-15, macos-26]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@main
        with:
          ref: master
          fetch-depth: 0

      - name: Compile and Test
        run: |
          export CFLAGS="${CFLAGS-} -O3"
          if [[ "${{ matrix.os }}" == ubuntu-* ]]; then
            sudo apt -qq update
            sudo apt -qq install gcc-multilib libc6-dev-i386 musl-tools
            export LDFLAGS="${LDFLAGS-} -static"
            make CHECK=1 CC=musl-gcc
            make clean
          fi
          make CHECK=1 CC=gcc
          make clean
          make CHECK=1 CC=g++
          make clean
          make CHECK=1 CC=clang
          make clean
          make CHECK=1 CC=clang++
          make clean
          if [[ "${{ matrix.os }}" == ubuntu-* ]]; then
            export CFLAGS="${CFLAGS-} -m32"
          fi
          make CHECK=1
          random_folder="$(mktemp -u $(printf 'X%.0s' $(seq 1 255)))"
          mkdir -p "./tests/${random_folder}"
          random_file="$(mktemp -u $(printf 'X%.0s' $(seq 1 255)))"
          random_path="./tests/${random_folder}/${random_file}"
          cp -f ./tests/cpulimit_test "${random_path}"
          echo "${random_path}"
          sudo "${random_path}"
          cp -f ./src/cpulimit ./src/cpulimit-${{ matrix.os }}

      - name: Upload binaries to release
        uses: HiGarfield/action-gh-release@master
        with:
          tag_name: ${{ needs.create-release.outputs.release_version }}
          files: src/cpulimit-${{ matrix.os }}
          overwrite_files: true

  build-FreeBSD:
    needs: [create-release]
    name: Build on FreeBSD-${{ matrix.osver }}-${{ matrix.arch }}
    permissions:
      contents: write
    strategy:
      matrix:
        osver: ["13.5", "14.3"]
        arch: ["x86_64", "aarch64"]
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Build on FreeBSD
        uses: vmactions/freebsd-vm@v1
        with:
          release: ${{ matrix.osver }}
          arch: ${{ matrix.arch }}
          usesh: true
          prepare: |
            pkg install -y -q gcc llvm gmake sudo
          run: |
            export CFLAGS="${CFLAGS-} -O3"
            gmake CHECK=1 CC=gcc
            gmake clean
            gmake CHECK=1 CC=g++
            gmake clean
            gmake CHECK=1 CC=clang
            gmake clean
            gmake CHECK=1 CC=clang++
            gmake clean
            gmake CHECK=1
            random_folder="$(mktemp -u $(printf 'X%.0s' $(seq 1 255)))"
            mkdir -p "./tests/${random_folder}"
            random_file="$(mktemp -u $(printf 'X%.0s' $(seq 1 255)))"
            random_path="./tests/${random_folder}/${random_file}"
            cp -f ./tests/cpulimit_test "${random_path}"
            echo "${random_path}"
            sudo "${random_path}"

            cp -f ./src/cpulimit ./src/cpulimit-FreeBSD-${{ matrix.osver }}-${{ matrix.arch }}

      - name: Upload binaries to release
        uses: HiGarfield/action-gh-release@master
        with:
          tag_name: ${{ needs.create-release.outputs.release_version }}
          files: src/cpulimit-FreeBSD-${{ matrix.osver }}-${{ matrix.arch }}
          overwrite_files: true

  cleanup-releases:
    needs: [build-Linux-macOS, build-FreeBSD]
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - uses: HiGarfield/delete-release-action@master
        continue-on-error: true
        with:
          release-drop: true
          release-keep-count: 0
          release-drop-tag: true
          pre-release-drop: true
          pre-release-keep-count: -1
          pre-release-drop-tag: true
          draft-drop: true
          draft-drop-count: -1
        env:
          GITHUB_TOKEN: ${{ github.token }}

  sync-branch:
    needs: [cleanup-releases]
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}
      - uses: HiGarfield/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: develop
          force: true
